/* src/styles/Footer.css */
footer.site-footer {
  position:absolute;
  bottom:0;
      left: 50%;
    transform: translate(-50%, -50%);
text-align:center;
}


.site-footer {
  background: transparent;
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
  color: #aaa;
  position: relative;
  z-index: 3; /* Ensures it's above Summary background */
}

.site-footer small {
  color:var(--tag-line);
  font-weight: 400;
  letter-spacing: 0.03em;
}
