/* src/styles/Footer.css */

footer.site-footer {
  background-color: transparent;
text-align:center;
margin-top: 3rem;
}


.site-footer {
  background: transparent;
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
  color: #aaa;
  position: relative;
  z-index: 3; /* Ensures it's above Summary background */
}

.site-footer small {
  color:var(--tag-line);
  font-weight: 400;
  letter-spacing: 0.03em;
}

/* src/styles/Footer.css or wherever */
footer.homepage-footer {
  background: transparent;
  color: var(--text-light);
  padding-top: 2rem;
  position: relative;
  z-index: 2;
}
