.project-card-section {
  position: relative;
  overflow-x: hidden; 
  padding-top: 4rem;
}

.project-image {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  translate:10rem;
  position: relative;
  z-index:150;
}

/* Push image off screen on even-index rows */
.push-image {
  transform: translateX(60px);
}

/* Space and layout */
.project-number {
  font-size: 1.5rem;
  color: var(--accent);
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
}

.project-content a {
  text-align: left;
  font-size:0.9rem;
  text-decoration: none;
  font-weight: 500;
  color: var(--mustard);
  display: inline-flex
;
}

.project-content a:hover,
.project-content a:focus,
.project-content a:active,
.project-content a:visited,
:not(.btn-check)+.btn:active {
  opacity: 0.8;
  color:var(--mustard);
}

@media (max-width: 768px) {
  .push-image {
    transform: none;
  }

  .project-content {
    padding: 1rem;
  }
}

.middle-project-image {
  translate:0;
}

.chevron-link:hover .chevron-icon {
  animation: wiggle 0.6s ease-in-out;
}

@keyframes wiggle {
  0% { transform: translateX(0); }
  25% { transform: translateX(3px); }
  50% { transform: translateX(0); }
  75% { transform: translateX(3px); }
  100% { transform: translateX(0); }
}

.chevron-icon {
  transition: transform 0.3s ease;
}

.learn-more-link:hover .chevron-icon {
  animation: wiggle 0.6s ease-in-out;
}

