/* src/styles/SummarySection.css */

.summary-section {
  color: var(--text-light);
  padding: 4rem 0 6rem;
  position: relative;
  overflow: hidden;
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.summary-section .container {
  text-align: left;
}

.summary-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 10rem;
  width: 100%;
  background: linear-gradient(to top, transparent, #1a1a1a);
  z-index: 1;
  pointer-events: none;
}

.summary-section h2 {
  font-size: 1.75rem;
  font-weight: 500;
  position: relative;
  z-index: 2;
}

.summary-section p {
  max-width: 600px;
  position: relative;
  z-index: 2;
}

.summary-section a.btn {
  position: relative;
  z-index: 2;
}

.summary-footer-wrapper {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), #111),
              url('../assets/map.webp') no-repeat center center / cover;
  color: var(--text-light);
  position: relative;
  overflow: hidden;
}

.learn-more-link.chevron-link {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
   font-size: 0.9rem;
  font-weight: 500;
  transition: opacity 0.2s ease-in-out;
  text-decoration: none;
  color:var(--mustard);
  cursor:pointer;
}

/* Chevron icon transition */
.chevron-link:hover .chevron-icon {
  animation: wiggle 0.6s ease-in-out;
}

/* Wiggle keyframes */
@keyframes wiggle {
  0% { transform: translateX(0); }
  25% { transform: translateX(3px); }
  50% { transform: translateX(0); }
  75% { transform: translateX(3px); }
  100% { transform: translateX(0); }
}

.chevron-icon {
  transition: transform 0.3s ease;
}

.learn-more-link:hover .chevron-icon {
  animation: wiggle 0.6s ease-in-out;
}

button.btn.btn-link.text-light.ps-0.chevron-link {
text-decoration: none;
font-weight: 700;
}