/* src/styles/variables.css */
:root {
  --text-light: #fefedf;
  --bg-dark: #1a1a1a;
  --accent: #4ffbdf;
  --font-primary: 'Helvetica Neue', sans-serif;
  --tag-line: #acac9a;
  --black--alt: #3d3d3d;
  --red-alt: #b10000;
  --mustard:#d9a23a;
}

.tagline {
  color:var(--tag-line);
}