#root {
  margin: 0 auto;
}

input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: #fff;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
}

h1, h2, h3, h4, p {
  color:var(--text-light);
}

input {
  box-shadow:none !important;
}

.honeypot-field {
  display: none;
}
